<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
            <div *ngIf="!this.user">
                <ion-item [routerDirection]="'root'" [routerLink]="['/login']">
                    <ion-icon slot="start" [name]=""></ion-icon>
                    <ion-label>
                      Log In
                    </ion-label>
                  </ion-item>
              </div>
              <div *ngIf="this.user">
                <ion-item [routerDirection]="'root'" [routerLink]="['/home']">
                    <ion-icon slot="start" [name]=""></ion-icon>
                    <ion-label>
                      {{user?.displayName}}
                    </ion-label>
                  </ion-item>
              </div>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <div *ngIf="this.user">
          <ion-item [routerDirection]="'root'" [routerLink]="['/login']">
              <ion-icon slot="start" [name]=""></ion-icon>
              <ion-label (click)="this.auth.signOut()">
                Sign Out
              </ion-label>
            </ion-item>
        </div>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
