.title{
    text-align: left;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  .titleBox{
    margin: 1em;
    padding: 2em;
    border: 2px solid rgb(52, 91, 146);
    border-radius: 10px;
    background-color: rgba(16, 18, 20, 0.2);
    color: whitesmoke;
  }
  .mainBox{
    margin: auto;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(52, 91, 146);;
    background-color: rgba(57, 96, 146, 0.5);
    background-size: cover;
    overflow: hidden;
  }
  
  .formWrapper{
    height: auto;
    padding: 2em;
    margin: 2em;
    border: 2px solid rgb(52, 91, 146);
    border-radius: 5px;
    background-color: whitesmoke;
  }

  .form-group{
    width: 100%;
    margin: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  ion-input{ 
    width: 80%;
    border: 0.5px solid black;
}


  ion-label{
    font-size: 125%;
  }