<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">
        Register
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div class="mainBox">
        <div class="formWrapper">
          <div>
            {{this.auth.user.email}}
          </div>
          <form [formGroup]="regForm" (ngSubmit)="signUp()">
            <div class="form-group">
              <ion-label><b>Email*</b></ion-label>
              <ion-input formControlName="email" placeholder="" 
              [(ngModel)]="email" required></ion-input>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div class="error" *ngIf="f.email.errors.required"><b>Email is Required</b></div>
                <div class="error" *ngIf="f.email.errors.email"><b>Invalid Email Format</b></div>
              </div>
            </div>
            <div class="form-group">
              <ion-label><b>Password*</b></ion-label>
              <ion-input formControlName="password" placeholder="" 
              [(ngModel)]="password" required></ion-input>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div class="error" *ngIf="f.password.errors.required"><b>Password is Required</b></div>
                <div class="error" *ngIf="f.password.errors.minlength"><b>Password Must Have at Least 8 Characters</b></div>
              </div>
            </div>
            <div class="form-group">
              <ion-label><b>Confirm Password*</b></ion-label>
              <ion-input formControlName="confirmPassword" placeholder="" 
              [(ngModel)]="confirmPassword" required></ion-input>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div class="error" *ngIf="f.confirmPassword.errors.mustMatch"><b>Passwords Must Match</b></div>
              </div>
            </div>
            <div class="form-group">
              <ion-label><b>First Name*</b></ion-label>
              <ion-input formControlName="firstName" placeholder="" 
              [(ngModel)]="firstName" required></ion-input>
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div class="error" *ngIf="f.firstName.errors.required"><b>First Name is Required</b></div>
              </div>
            </div>
            <div class="form-group">
              <ion-label><b>Last Name*</b></ion-label>
              <ion-input formControlName="lastName" placeholder="" 
              [(ngModel)]="lastName" required></ion-input>
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div class="error" *ngIf="f.lastName.errors.required"><b>Last Name is Required</b></div>
              </div>
            </div>
            <div class="form-group">
              <ion-label><b>Display Name*</b></ion-label>
              <ion-input formControlName="username" placeholder="" 
              [(ngModel)]="username" required></ion-input>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div class="error" *ngIf="f.username.errors.required"><b>Display Name is Required</b></div>
              </div>
            </div>
            <div class="form-group">
              <ion-button type="submit">Submit</ion-button>
            </div>

          </form>
        </div>
      </div>
    
    </ion-content>