<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Reset Your Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainBox">
    <div *ngIf="!this.auth.emailReceived" class="formWrapper">
        <div class="form-group">
          <ion-label><b>Enter Your Email: </b></ion-label>
          <ion-input type="email" placeholder="" 
          [(ngModel)]="email" name="email"></ion-input>
          <p id="demo"></p>
        </div>
        <div class="form-group">
          <div class="submitBtns">
            <ion-button class="subBtn" (click)="resetPassword(email)">Submit</ion-button>
          </div>
        </div>
    </div>
    <div *ngIf="this.auth.emailSent" class="formWrapper">
      Email Sent.  Check Your Email for the Verification Link To Complete Your Password Reset Process
    </div>
  </div>
</ion-content>

<script>
    document.getElementById("demo").innerText = Math.random();
</script>
