<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">
        Log In
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="mainBox">
    <div class="formWrapper">
      <div *ngFor = "let user of this.data.users">
        <p>{{user.username}}</p>
        <p>{{user.password}}</p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="logUserIn(username, password)">
        <div class="form-group">
          <ion-label><b>Username</b></ion-label>
          <ion-input formControlName="username" placeholder="" 
          [(ngModel)]="username" name="username"></ion-input>
        </div>
        <div class="form-group">
          <ion-label><b>Password</b></ion-label>
          <ion-input type="password" formControlName="password" placeholder="" 
          [(ngModel)]="password" name="password"></ion-input>
        </div>
        <div class="form-group">
          <ion-button type="submit">Log In</ion-button>
          <ion-button (click)="logInWithGoogle()">Log In With Google</ion-button>         
          <ion-button (click)="signOut()">Sign Out</ion-button>
          <p>Don't have an account? <a href="/register">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>

</ion-content>
