<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">
        Log In
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="mainBox">
    <div class="formWrapper">
      <div class="submitBtns2">
        <ion-button class='google' color="black" (click)="logInWithGoogle()"><img src="../../assets/icon/googleIcon.png"><b>Log In With Google</b></ion-button> 
        <ion-button class='facebook' color="black" (click)="logInWithFacebook()"><img src="../../assets/icon/facebookIcon.png"><b>Log In With Facebook</b></ion-button>                 
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="this.auth.loginEmail(username, password)">
        <div class="form-group">
          <ion-label><b>Email</b></ion-label>
          <ion-input formControlName="username" placeholder="" 
          [(ngModel)]="username" name="username"></ion-input>
        </div>
        <div class="form-group">
          <ion-label><b>Password</b></ion-label>
          <ion-input type="password" formControlName="password" placeholder="" 
          [(ngModel)]="password" name="password"></ion-input>
        </div>
        <div class="form-group">
          <div class="submitBtns">
            <ion-button class='subBtn' type="submit"><b>Log In</b></ion-button>
          </div>
            <p>Don't have an account? <a href="/register">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>

</ion-content>
