<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Create New Password
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="mainBox">
      <div class="formWrapper">
        <form [formGroup]="passForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <ion-label><b>Password</b></ion-label>
              <ion-input formControlName="password" placeholder="" 
              [(ngModel)]="password" required></ion-input>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div class="error" *ngIf="f.password.errors.required"><b>Password is Required</b></div>
                <div class="error" *ngIf="f.password.errors.minlength"><b>Password Must Have at Least 8 Characters</b></div>
              </div>             
          </div>
          <div class="form-group">
            <ion-label><b>Confirm Password: </b></ion-label>
            <ion-input formControlName="confirmPassword" placeholder="" 
            [(ngModel)]="confirmPassword" required></ion-input>
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div class="error" *ngIf="f.confirmPassword.errors.mustMatch"><b>Passwords Must Match</b></div>
            </div>
          </div>
          <div class="form-group">
            <div class="submitBtns">
              <ion-button class="subBtn" type="submit">Submit</ion-button>
            </div>
          </div>
        </form>
      </div>
    </div>
 </ion-content>