.title{
    float: left;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  .titleBox{
    margin: 1em;
    padding: 1em;
    border: 2px solid rgb(52, 91, 146);
    border-radius: 10px;
    background-color: rgba(16, 18, 20, 0.2);
    font-size: 140%;
    height: auto;
    text-align: center;
    color: whitesmoke
  }

  .titleBox2{
    margin: 1em;
    padding: 1em;
    border: 2px solid rgb(52, 91, 146);
    border-radius: 10px;
    background-color: rgba(16, 18, 20, 0.2);
    color: whitesmoke
  }
  .mainBox{
    height: auto;
    min-height: 100%;
    width: 100%;
    border: 2px solid rgb(52, 91, 146);;
    background-color: rgba(57, 96, 146, 0.5);
  }
  
  .start{
    width: 100%;
    font-size: 150%;
  }
  
  .options{
    height: auto;
    color: whitesmoke;
    border: 0.5px solid rgb(52, 91, 146);
    background-color: rgba(57, 96, 146, 0.5);
  }
  .numbers{
    display: inline-block;
    margin: 0.2em;
    color: whitesmoke;
    
    font-size: 250%;
  }
  h3{
      font-size: 120%;
  }
  h4{
      display: inline-block;
      margin: 0.2em;
  }

  p{
    font-size: 130%;
    text-align: left;
  }
.questions{
    text-align: center;
    width:auto;
    height: auto;
}

input {
    height:60px;
    width:130px;
    font-size: 200%;
    text-align: center;
}
.submit {
    width: 50%;
    font-size: 150%;
    text-align: center;
}
.buttonBox{
  text-align: center;
}
.digits{
    list-style-type: none;
    margin: auto;
}
.answerWrong{
  font-size: 250%;
  text-align: center;
  color: red;
  background-color: rgba(235,86,52, 0.5);
  width: 100%;
  padding-top: 0.3em;
  height: auto;
  margin: auto;
  border-bottom: 2px solid rgb(52, 91, 146);
}
.answerRight{
  font-size: 250%;
  text-align: center;
  color: green;
  background-color: rgba(131,235,52,0.8);
  width: 100%;
}

.digitInput{
  font-size: 125%;
  margin: 0.3em;
}

ul {

  overflow: scroll;
  margin: 0;
  padding: 0;
  
  border: 2px solid #ccc;
  
  font-size: 16px;
  font-family: Arial, sans-serif;
  
  // Again, this is where the magic happens
  -webkit-overflow-scrolling: touch;
}

.odd{
  height: auto;
  background-color: var(--ion-color-odd);
  margin: 0;
  border: 0.5px solid black;
  padding-top: 0;
}
.even{
  height: auto;
  background-color: var(--ion-color-even);
  margin: 0;
  border: 0.5px solid black;
  padding-top: 0;
}
.right{
  color: rgba(67, 175, 13, 0.8);
  float: right;
  text-align: right;
  padding-left: 0.5em;
}
.wrong{
  color: rgba(235,86,52, 1.0);
  float: right;
  text-align: right;
  padding-left: 0.5em;
}
